{{- $email := env "GIT_EMAIL" -}}
{{- if not $email -}}
{{-   $email = promptStringOnce . "email" "Git email address" -}}
{{- end -}}
[data]
  name = "voidfiles"
  email = {{ $email | quote }}

[onepassword]
  command = "op"
