# 1Password CLI plugins
{{ if eq .chezmoi.os "darwin" -}}
source {{ .chezmoi.homeDir }}/.config/op/plugins.sh
{{- end }}

# Obsidian vault
for _obsidian_candidate in "$HOME/Dropbox/obsidian/Alex3" "$HOME/Documents/Alex3"; do
  if [[ -d "$_obsidian_candidate/.obsidian" ]]; then
    export OBSIDIAN_ROOT="$_obsidian_candidate"
    break
  fi
done
unset _obsidian_candidate
